form
    border: 1px solid black
    width: fit-content
    padding: 10px
    
    fieldset
        width: fit-content
        display: flex
        flex-direction: column
        margin-bottom: 10px

        h4
            margin: 0

        label
            margin-bottom: 10px